.gallery {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__item {
        position: relative;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__caption {
        @include alignCenter;
        font-size: 3.6rem;
        font-weight: bold;
        color: colorMap($colorMap, 'general', '_white');

        span {
            display: inline-block;
            text-align: center;
        }
    }
}