.nav {
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 65vw;
        height: 100vh;
        transform: translateX(40rem);
        transition: all .3s;
        background-color: colorMap($colorMap, 'background', 'menu-panel');
        z-index: $zindex-menu;


        &--active {
            transform: translateX(0);
        }
    }

    &__item {
        list-style: none;

        &:first-child {
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 2rem;
            height: 2rem;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            position: relative;
            font-size: 1.8rem;
            color: colorMap($colorMap, 'textColor', 'link');
            text-decoration: none;
            transition: all .3s;
        }

        &:hover::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 90%;
            height: 2px;
            background-color: colorMap($colorMap, 'general', 'accent');
        }

        &:hover {
            color: colorMap($colorMap, 'general', 'accent');
        }
    }

    &__close {
        @include alignCenter;
        width: 1.5rem;
        height: 3px;
        visibility: 0;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 3px;
            background-color: colorMap($colorMap, 'general', 'accent');
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

}