// Regular font family
$text-font-stack: 'Roboto', sans-serif !default;
$logo-font: 'Kurale', serif !default;

// Color map

$colorMap: (
    background: (
        main: #EEF8F6,
        menu-panel: #5E7776,
        border: #F9DCB2,
    ),
    textColor: (
        link: #BCD1CD,
        social: #CBD7EB,
    ),
    general: (
        accent: #27354F,
        midGrey: #B7BCC5,
        _darkGrey: #A8A8A8,
        _white: #ffffff,
    )

);

// Container's max-width
$max-width: 1268px !default;

//BREAKPOINTS
$breakpoints: (
    medium: 768px,
    large: 1268px
);

//global z-indexes:

$zindex-menu: 100;