.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;

    @include respond-to(medium) {
        font-size: 2.2rem;
    }

    @include respond-to(large) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4rem;
        font-size: 1.7rem;
        background-color: colorMap($colorMap, 'general', '_white');
    }

    &__address {
        display: flex;
        justify-content: center;
        width: 20rem;
        font-style: normal;

        @include respond-to(medium) {
            width: 30rem;
        }

        @include respond-to(large) {
            justify-content: flex-start;
        }
        & > span {
            text-align: center;
            color: colorMap($colorMap, 'general', 'midGrey');
        }

        & > a {
            color: colorMap($colorMap, 'general', 'accent');
            text-decoration: none;
        }
    }

    &__social {
        display: flex;
        width: 20rem;
        justify-content: center;

        @include respond-to(medium) {
            width: 30rem;
        }

        @include respond-to(large) {
            width: 25rem;
        }
    }

    &__title {
        flex: 1;
        font-size: inherit;
        font-weight: 500;
        text-align: center;
        color: colorMap($colorMap, 'general', 'midGrey');

        @include respond-to(large) {
            text-align: right;
        }
    }

    &__socialList {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        list-style: none;

        @include respond-to(large) {
            justify-content: flex-end;
        }
    }

    &__socialItem {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1.5rem;

            @include respond-to(medium) {
                margin-right: 2.5rem;
            }
        }
        color: colorMap($colorMap, 'textColor', 'social');
    }

    &__link {
        color: inherit;
    }
}