html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $text-font-stack;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  body {
    @include respond-to(large) {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mainWrapper {
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    justify-content: center;
    max-width: $max-width;
    background-color: colorMap($colorMap, 'background', 'main');

    @include respond-to(large) {
      grid-template-rows: 12% auto 15%;
      height: 90%;
    }
  }