  @import 'reset';

  body {
    @include respond-to(large) {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mainWrapper {
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    justify-content: center;
    max-width: $max-width;
    background-color: colorMap($colorMap, 'background', 'main');

    @include respond-to(large) {
      grid-template-rows: 10rem auto 6rem;
      height: 90%;
    }
  }